/* Imported fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* Variables */
:root {
  --font-sans: "Source Sans 3", sans-serif;
  --clr1: #802a8f;
  --clr2: #f0d0dd;
  --fss-1: 1rem; /* 22px */
  --fss-33: 0.6226rem;
  --pic-s: 2.6rem;
}

/* Global styles */
html {
  font-family: var(--font-sans);
  font-size: 2.76vw;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 4.4vw;
  }
}

/* Components */
.custom-nav {
  height: 100px;
}

nav img {
  height: 1.6rem;
  width: 4.339rem;
}

.banner {
  position: relative;
  padding: 20px 0;
  border: 2px solid greenyellow;
  background: url("../assets/img6.png") center/cover no-repeat;
  color: white;
}

.banner-left-section h1 {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: left;
  line-height: 2.2rem;
  width: 18.15094rem;
}

/* Other styles... */

/* Media Queries */
@media (max-width: 768px) {
  /* Adjustments for smaller screens */
  html {
    font-size: 4.4vw;
  }
  /* Other media query adjustments... */
}
